<!DOCTYPE html>
<html>
<head>
  <title>Поиск фильмов</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrap">
        <h1 class="label">Бесплатный поисковик фильмов</h1>
        <h5 class="label">Сделано с ❤️ от <a href="https://t.me/brasd99" target="_blank">@brasd99</a></h5>
         <div class="search">
            <input type="text" class="searchTerm" placeholder="Название фильма">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
           </button>
         </div>
      </div>
      <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
</body>
</html>