<!DOCTYPE html>

<html data-critters-container="" lang="en">
<head>
<meta charset="utf-8"/>
<title>FreeFilmsViewer</title>
<base href="/"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="{{ url_for('static', filename='favicon.png') }}" rel="icon" type="image/x-icon"/>
<style>body{background-color:#f3f6fd}</style><link href="{{ url_for('static', filename='styles/styles.9e9f54cdabb7fd80.css') }}" media="print" onload="this.media='all'" rel="stylesheet"/><noscript><link href="{{ url_for('static', filename='styles/styles.9e9f54cdabb7fd80.css') }}" rel="stylesheet"/></noscript></head>
<body>
<app-home></app-home>
<script src="{{ url_for('static', filename='scripts/runtime.7ae29a296d479790.js') }}" type="module"></script><script src="{{ url_for('static', filename='scripts/polyfills.6b9e5e7ae92fe89b.js') }}" type="module"></script><script src="{{ url_for('static', filename='scripts/main.576bbef08eb15e60.js') }}" type="module"></script></body>
</html>
