<!DOCTYPE html>
<html>
<head>
  <title>Фильм не найден</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/not_found.css') }}">
</head>
<body>
    <div class="wrap">
        <h1 class="label">Фильм не найден ;(</h1>
        <div class="container">
            <div id="back_btn" class="button-container">
               <button class="custom-btn btn-design">Назад</button>
            </div>
        </div>
     </div>
     <script src="{{ url_for('static', filename='scripts/not_found.js') }}"></script>
</body>
</html>