<!DOCTYPE html>
<html>
<head>
  <title>Поиск фильмов</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <p class="intro">Результаты по запросу: <strong>{{ query }}</strong></p>
    <div id="back_btn" class="button-container">
      <button class="custom-btn btn-design">Назад</button>
    </div>
    {% if films %}
    <div class="container">
      {% for film in films %}
      <a href="/watch/{{film.filmId}}">
        <div class="movie-card">
          <div class="movie-header" style="background: url('{{ film.posterUrl }}'); background-size: cover;">
          </div><!--movie-header-->
          <div class="movie-content">
            <div class="movie-content-header">
              <a href="/watch/{{film.filmId}}">
                <h3 class="movie-title">{{ film.nameRu }}</h3>
              </a>
              
            </div>
            <div class="movie-info">
              <div class="info-section">
                <label>Тип</label>
                <span>{{film._type}}</span>
              </div><!--seat-->
              <div class="info-section">
                <label>Год</label>
                <span>{{film.year}}</span>
              </div><!--row-->
              <div class="info-section">
                <label>Длительность</label>
                <span>{{film.filmLength}}</span>
              </div>
              <div class="info-section">
                <label>Рейтинг</label>
                <span>
                  {{ film.rating }}
                </span>
              </div><!--screen-->
            </div>
          </div><!--movie-content-->
        </div><!--movie-card-->
      </a>
      {% endfor %}
    </div><!--container-->
    {% endif %}
    <script src="{{ url_for('static', filename='scripts/search.js') }}"></script>
</body>
</html>